.venv
.vscode
__pycache__
*.egg-info
*.sqlite
*.bak
*.swp
.DS_Store
.idea
node_modules/
*.pyc
/warp/templates/headers/
/warp/static/dist/
*.pem
build/
.env
bin/activate
bin/activate.csh
bin/activate.fish
bin/Activate.ps1
bin/flask
bin/jsonschema
bin/pip
bin/pip3
bin/pip3.9
bin/pwiz.py
bin/python
bin/python3
bin/python3.9
bin/vba_extract.py
